<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Formulario{% endblock %}</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <style>
    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    }

    .form-container {
      width: 400px;
      padding: 30px;
      background-color: #f1f1f1;
      border-radius: 10px;
    }

    .form-container input[type="text"] {
      width: 100%;
      margin-bottom: 10px;
    }

    .form-container button[type="submit"] {
      width: 100%;
    }

    .message-container {
      margin-top: 20px;
    }
  </style>
  <script>
    function showConfirmation() {
      var messageContainer = document.getElementById("message-container");
      messageContainer.style.display = "block";
    }
  </script>
</head>
<body>
  <div class="container">
    <div class="form-container">
      <h4>¿Hola, deseas reestablecer tu contraseña? 🤨</h4>
      <p>Si es así, escribe tu correo y envíalo. Recuerda apuntarlo para no olvidarlo.</p>
      <form method="POST" onsubmit="showConfirmation()">
        {% csrf_token %}
        <input type="text" placeholder="Ingresa tu correo" name="email">
        <br>
        <br>
        <button class="btn btn-primary" type="submit">Enviar</button>
      </form>
      <p>Si no recibes nada en tu correo, repite el proceso.</p>
      <div id="message-container" class="message-container" style="display: none;">
        Su correo ha sido enviado. ¡Revíselo!
      </div>
    </div>
  </div>
</body>
</html>
